.account {
  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: 90vh;

  &__nav {
    background-image: linear-gradient(to bottom , #fff 0.1%,$color-primary-light 99.9%);
    min-height: 80rem;
    max-height: 100rem;

    padding: 2rem 0rem;

    overflow: hidden;

    & nav {
      width: 100%;
      height: 100%;

      & ul {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    &--item {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      padding: 2rem 3rem;

      transition: all 0.4s;

      & img {
        height: 75%;
        width: auto;
      }

      &:last-child {
        margin-top: auto;
        cursor: pointer;
      }

      &.active {
        background-color: $color-secondary;
      }

      &:hover {
        transform: translateX(4px);
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem;
  }
}
