*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
TODO: DEFINE PRIMARY COLORS
*/

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #a7b2b5;

$color-grey-dark-1: #898f91;
$color-grey-dark-2: #504e4c;

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}