*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
TODO: DEFINE PRIMARY COLORS
*/
//GENERATED COLOR PALETTE:
$color-primary: #93b3da;
$color-light-grey: #a0acbd;
$color-dark-grey: #3c4856;
$color-pink: #d8a1b4;

//TODO -> KEEP OR DELETE? :
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #a7b2b5;

$color-grey-dark-1: #898f91;
$color-grey-dark-2: #504e4c;

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    font-family: inherit;
    font-weight: inherit;

    padding: 3px;
    margin: 5px 0;
}

button,
select {
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    border: none;
}

#id {
    position: relative;
}

ul, li {
    list-style-type: none;
}

input::placeholder{
    color: $color-dark-grey;
}

input[type="radio"]:checked {
    background-color: #93b3da;
    border: 2px solid #93b3da;
  }