.bookings {

    &__options {
        border-bottom: solid 1px #999;
    }

    &__actions {
        font-weight: 700;
        cursor: pointer;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
        gap: 1rem;

        padding: 3rem;

        transition: all .4s ease-out;

        & table,
        tr,
        td {
            padding: 2.5rem;
            text-align: center;
        }

        & table {
            background-color: $color-grey-light-1;
            font-size: 1rem;
            border-radius: 7px;
            overflow: hidden;
            width: 90rem;
        }

        & th {
            font-size: 24px;
        }

        & caption {
            font-size: 24px;
            margin-bottom: 2.4rem;
        }
    }
}

.bookingDetails {
    &__container {
        background-color: $color-grey-light-1;
        width: 80%;
        margin: auto;
        padding: 3rem;

        display: flex;
        flex-direction: column;

        gap: 2rem;
        align-items: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    &__actions {
        display: flex;
        gap: 2rem;
    }
}