.bookings {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 3rem;

        transition: all .4s ease-out;

        & table,
        tr,
        td {
            padding: 2.5rem;
            text-align: center;
        }

        & table {
            background-color: $color-grey-light-1;
            font-size: 1rem;
            border-radius: 7px;
            overflow: hidden;
            width: 90rem;
        }

        & th{
            font-size: 24px;
        }

        & caption {
            font-size: 24px;
            margin-bottom: 2.4rem;
        }
    }
}