.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;

    &-step--container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-color: #fff;

        padding: 10px 15px;
    }

    &__container {
        width: 70vw;
        height: 80vh;
        display: flex;

        flex-direction: column;

        border-radius: 10px;
        box-shadow: 1px 0.5px 1px 1px rgba(0, 0, 0, 0.42);
        background-color: $color-grey-light-1;

        & h2 {
            text-align: center;
            margin-top: 10px;
            font-weight: 400;
            font-size: 26px;
            text-transform: uppercase;
        }

        &-nav {
            display: flex;
            justify-content: space-between;
            padding: 10px;

            & li {
                display: flex;
                align-items: center;

                cursor: pointer;
                transition: all .4s;

                &:hover {
                    transform: scale(1.1);
                }

                & span {
                    font-weight: 600;
                }
            }

            &--icon {
                margin-right: 10px;
            }
        }

        &-step {
            display: flex;
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.42);
            font-size: 20px;
            width: 100%;
            height: 50px;

            & div {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 10px;
            }

            &--activeLeft {
                background-color: $color-grey-light-2;
                border-top-right-radius: 5px;
            }

            &--activeMiddle {
                background-color: $color-grey-light-2;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            &--activeRight {
                background-color: $color-grey-light-2;
                border-top-left-radius: 5px;
            }

        }
    }
}

.trip-details {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
}

.trip-details__image {
    max-width: 520px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.trip-details__data {
    padding: 10px;
    margin-left: 30px;
}

.trip-details__data h3 {
    margin: 5px 0;
    font-size: 24px;
}

.trip-details__data p {
    margin: 2px 0;
    font-size: 18px;
}

.passengerDetails {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__notice {
        background-color: $color-grey-light-1;
        border-radius: 5px;
        margin-top: auto;
        text-align: center;
        margin-bottom: 1rem;

        & p {
            padding: 0px 5px;
        }
    }

    & form {
        padding: 10px;
    }

    &__names {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;

        & label {
            margin-right: 10px;
        }


    }

    & fieldset {
        display: flex;
        margin-bottom: 1rem;

        display: flex;
        justify-content: space-around;
        align-items: center;

        & div {
            padding: 5px 0px;
        }

        & legend {
            margin-left: 10px;
        }

        & input {
            margin-right: 5px;
        }
    }

    &__dob {
        display: flex;
        justify-content: center;

        & label {
            margin-right: 10px;
        }

        & input {
            text-align: center;
        }
    }

    &__docType {
        margin-bottom: 10px;

        & label {
            margin-right: 10px;
        }

    }

    &__inputDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        & label {
            margin-right: 10px;
            width: 120px;
        }
    }

    &__btn {
        display: flex;
        justify-self: center;
        margin-top: 20px;
    }
}