.error-page {
    height: 100vh;
    width: 100vw;
    background-image: url(../../images/PageNotFound.png);
    background-size: cover;
    background-position: top;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: $color-primary;
    box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}

.navigation {
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 5px;
    margin: 0px 2rem 5px 1rem;

    border-bottom: solid 1px rgba(51, 51, 51, 0.148);

    &__login::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1em;
        background-color: #333;
        margin: 0px 5px;
    }

    &__logo {
        & img {
            width: 160px;
        }
    }

    &__browse {
        display: flex;
        gap: 1rem;
    }

    &__user {
        display: flex;
        font-size: 18px;

        & span {
            margin-right: 5px;
        }

        & li {
            cursor: pointer;
            font-size: 20px;
        }
    }
}

.spinner {
    //credit to Jonas Schmedtmann from the Udremy React course for creating this amazing spinner :) 
    margin: 4.8rem auto;
    height: auto;

    width: 6.4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, $color-primary 94%, #0000) top/10px 10px no-repeat,
        conic-gradient(#0000 30%, $color-primary );
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);

    animation: rotate 1.5s infinite linear ;
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}