.error-page {
    height: 100vh;
    width: 100vw;
    background-image: url(../../images/PageNotFound.png);
    background-size: cover;
    background-position: top;
}

.btn{
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: $color-primary;
    box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}