.footer {
  width: 100vw;
  background-color: $color-grey-dark-2;
  color: #ccc;
  line-height: 1.7;

  &__content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 4rem;
    margin-bottom: 4rem;

    display: flex;
    gap: 8rem;
    align-items: flex-start;
    justify-content: center;
  }

  &__section {
    flex: 1 1 30rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & li {
        display: flex;
        align-items: center;
        gap: 2rem;

        & img{
          filter: contrast(65%);
        }
      }
    }
  }

  & h4 {
    margin-bottom: 4rem;
    font-size: 2rem;
    font-weight: 600;
  }

  & footer {
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    letter-spacing: 0.5px;

    border-top: 1px solid $color-grey-dark-1;
  }

  & address {
    font-style: normal;
  }
}
