.footer {
    min-height: 30vh;
    max-height: 50vh;
    min-width: 100vw;
    max-width: 100vw;

    background-color: $color-grey-light-1;
    border-top:0.5px solid #999;
    
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;

    &__ul {
        font-size: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}