.header {
    position: relative;
    height: 40vh;
    width: 100vw;

    &__container {
        height: 60vh;
        background-image: url(../../images/header.jpg);
        background-size: cover;
    }
}