.whyUs_container {
    margin: 5rem;
    margin-top: 7rem;

    & h2,
    h3 {
        text-align: center;
        margin-top: 20px;
        font-size: 28px;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: $color-grey-dark-2;
    }

    & h2 {
        letter-spacing: 3px;
    }

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 30px;
    }

    &__item {

        transition: all .5s;

        padding: 10px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        background: linear-gradient(to bottom, rgba($color-primary, 0.3), rgba($color-pink, 0.3));
        box-shadow: 1px 0.5px 1px 1.5px rgba(0, 0, 0, 0.42);
        border-radius: 5px;


        & h3 {
            font-size: 22px;
            margin-bottom: 15px;
        }

        & img {
            margin: 20px;
        }

        & p {
            font-size: 18px;
            text-align: center;
            padding: 10px 30px 10px 30px;
        }

    }

    &__item:hover {
        transform: scale(1.05);
        box-shadow: 1.5px 1px 1.5px 2px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
}