.searchBar {
    &__button {
        padding: 18px;
        border-radius: 10px;
        font-size: 16px;
        background-color: $color-primary;
        box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
    }

    &__container {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-55%, 0);

        min-width:50vw;
        min-height:10vh;
        max-width: 70vw;
        max-height: 20vh;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.2);

        display: flex;
        align-items: center;
        justify-content: center;

        &--element {
            display: inline-block;
            margin: 10px;

            & select,
            input{
                padding: 15px;
                border-radius: 10px;
                background-color: $color-grey-light-1;
            }
        }
    }
}
