.searchBar {
    &__button {
        padding: 1.5rem;
        border-radius: 0.5rem;
        font-size: 16px;
        background-color: $color-primary;
        box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.42);
    }

    &__container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        padding:0.5rem;
        width: 90rem;
        max-height: 10rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);

        display: flex;
        align-items: center;
        justify-content: center;

        &--element {
            display: inline-block;
            margin: 1rem;

            & select,
            input{
                padding: 1rem;
                border-radius: 10px;
                background-color: $color-grey-light-1;
            }
        }
    }
}
