//TODO -> this page is still not user-friendly; weird scroll behavior is also present; Read about it and fix it :)

.search {
  &__container {
    display: flex;
    width: 100vw;
    height: 100vh;

    overflow-y: scroll;

    padding: 0px 1rem;
    justify-content: space-around;
    align-items: center;

    &-map {
      width: 40%;
      height: 70%;
      padding: 2rem;

      position: sticky;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 2;
    }
  }

  &__results {
    padding: 2.5rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    max-height: 100%;

    &--options {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: space-around;
      border-bottom: 1px solid $color-grey-dark-2;

      margin-bottom: 3rem;

      & div {
        padding: 1rem;
      }
    }
  }
}

.resultCard {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  max-height: 30vh;

  display: flex;
  justify-content: space-between;
  padding: 2rem;

  line-height: 1.5;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &__provider {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    margin-bottom: 1rem;

    & span {
      font-size: 18px;
    }

    &-logo {
      max-width: 50px;
      max-height: 50px;

      margin-right: 10px;
    }
  }

  &__trip {
    & span {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__connection {
    margin: 15px 0px;

    & p {
      margin-top: 5px;
    }
  }

  &__priceAndType {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0rem 1rem;

    &--price {
      font-size: 2.4rem;
      font-weight: 600;
    }

    &--typeTag {
      background-color: $color-secondary;
      padding: 0.5rem 1rem;
      border-radius: 5px;

      font-size: 18px;
      text-align: center;
    }
  }

  &__amenities {
    & img {
      margin-right: 10px;
    }
  }

  &__info{
    margin-bottom: 1rem;
    font-weight: 600;
  }
}
