.search {

    &__container {
        border-top: 0.5px solid #999;

        display: flex;
        width: 100vw;
        height: 100vh;

        padding: 1rem;
        justify-content: space-around;

        &__results {
            width: 60vw;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-map {
            width: 50%;
            height: 90%;
            padding: 2rem;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        overflow: hidden;

        margin-bottom: 5px;
    }
}

.resultCard {
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    background-color: $color-light-grey;
    max-width: 100%;
    max-height: 30vh;

    display: flex;
    justify-content: space-between;
    padding: 1rem;

    border-radius: 10px;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__provider {
        display: flex;
        align-items: center;

        margin: 0.5rem;

        &-logo {
            max-width: 50px;
            max-height: 50px;
            border-radius: 50%;

            margin-right: 5px;
        }
    }

    &__trip {

        & span {
            text-transform: uppercase;
            font-size: 18px;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1rem;

        & span {
            font-size: 25px;
        }
    }
}