.heading {
  &--primary {
    line-height: 1.4;
    letter-spacing: 1px;
    font-size: 52px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #555;
  }

  &--secondary {
    text-align: center;
    margin: 2rem 0px;
    font-size: 4.4rem;
    font-weight: 600;
    letter-spacing: 1.7px;
    letter-spacing: 1.6;
    font-size: 44px;
    color: #555;
  }

  &--tertiary {
    text-align: center;
    margin: 2rem 0px;
    font-size: 4.4rem;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: #555;
  }
}
