*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
TODO: DEFINE PRIMARY COLORS
*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: inherit;
  font-weight: inherit;
  padding: 3px;
  margin: 5px 0;
}

button,
select {
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
}

#id {
  position: relative;
}

ul, li {
  list-style-type: none;
}

input::placeholder {
  color: #3c4856;
}

input[type=radio]:checked {
  background-color: #93b3da;
  border: 2px solid #93b3da;
}

h1 {
  font-weight: 400;
  font-size: 2srem;
  text-transform: uppercase;
}

.header {
  height: 60vh;
  background-image: url(../../images/header.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.header__container {
  position: relative;
  height: 60vh;
  width: 100vw;
}
.header__logo {
  max-height: 70px;
}
.header__logoBox {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.header__heading {
  display: inline-block;
  text-align: center;
  color: #444;
}
.header__navigation {
  display: flex;
  gap: 32rem;
  justify-content: space-between;
  flex: 0 0 80%;
  padding-right: 1rem;
  padding-top: 0.5rem;
  margin-left: 10px;
}
.header__navigation-login::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: #333;
  margin: 0 4px;
}
.header__navigation-browse {
  display: flex;
  gap: 1rem;
  justify-self: left;
  font-size: 18px;
}
.header__navigation-user {
  justify-self: end;
  display: flex;
  font-size: 18px;
  padding: 5px;
}
.header__navigation-user span {
  margin-right: 5px;
}
.header__navigation-user li {
  cursor: pointer;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.4s ease-out;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../../images/blue_background.png);
  background-size: cover;
}
.register__container {
  display: block;
  height: 70vh;
  width: 60vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
  overflow: hidden;
}
.register__cta-img {
  min-height: 50%;
  min-width: 50%;
  max-width: 100%;
  max-height: 100%;
}
.register__left-side {
  background-color: #a7b2b5;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.register__left-side p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 14px;
}
.register__right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.register__options {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  gap: 1.5rem;
  background-color: #fff;
  margin-bottom: 20px;
}
.register__options-logo {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
}
.register__options div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #93b3da;
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  border: none;
}
.register__options div a {
  display: block;
  width: 100%;
  height: 100%;
}
.register__form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.register__row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.register__row input,
.register__row label {
  display: block;
  font-family: inherit;
  color: inherit;
}
.register__row input::placeholder,
.register__row label::placeholder {
  font-family: inherit;
}
.register__row-address {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}
.register__row-address input {
  width: 80%;
}
.register__row-checkbox {
  text-align: center;
}
.register__row-checkbox input {
  margin: 0 0 1rem 2rem;
}
.register__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.register__btn button {
  max-width: 30%;
  padding: 1rem 1rem;
  margin-bottom: auto;
  border-radius: 15px;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}

.login {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__iconBox {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.login__iconBox svg {
  max-width: 30px;
  margin-right: 5px;
}
.login__form {
  min-height: 40vh;
  min-width: 40vw;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}
.login__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin: 1rem 0;
}
.login__row div label {
  display: inline-block;
  margin-right: 3px;
}
.login__btn {
  padding: 0.5rem 1rem;
  margin-bottom: auto;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}

.error-page {
  height: 100vh;
  width: 100vw;
  background-image: url(../../images/PageNotFound.png);
  background-size: cover;
  background-position: top;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #93b3da;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}

.searchBar__button {
  padding: 18px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #93b3da;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}
.searchBar__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 200;
  max-width: 70vw;
  max-height: 40vh;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar__container--element {
  display: inline-block;
  margin: 15px;
}
.searchBar__container--element select,
.searchBar__container--element input {
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f7f6;
}

.search__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  justify-content: space-around;
}
.search__container__results {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__container-destinationCard {
  width: 700px;
  height: 800px;
  object-fit: fill;
  object-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}
.search__container-destinationCard p {
  text-align: center;
  display: block;
  padding: 20PX;
}
.search__image {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 5px;
}

.resultCard {
  transition: all 0.3s;
  background-color: #a0acbd;
  max-width: 100%;
  max-height: 30vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
}
.resultCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.resultCard:not(:last-child) {
  margin-bottom: 1rem;
}
.resultCard__provider {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.resultCard__provider-logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.resultCard__trip span {
  text-transform: uppercase;
  font-size: 18px;
}
.resultCard__price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.resultCard__price span {
  font-size: 25px;
}

.accountMenu {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.42);
}
.accountMenu img {
  margin-right: 5px;
  height: 24px;
}
.accountMenu li {
  font-size: 16px;
  padding: 10px;
}
.accountMenu__item {
  display: flex;
  align-items: center;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100vw;
}
.cart-step--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #fff;
  padding: 10px 15px;
}
.cart__container {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 0.5px 1px 1px rgba(0, 0, 0, 0.42);
  background-color: #f9f7f6;
}
.cart__container h2 {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 26px;
  text-transform: uppercase;
}
.cart__container-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.cart__container-nav li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
.cart__container-nav li:hover {
  transform: scale(1.1);
}
.cart__container-nav li span {
  font-weight: 600;
}
.cart__container-nav--icon {
  margin-right: 10px;
}
.cart__container-step {
  display: flex;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.42);
  font-size: 20px;
  width: 100%;
  height: 50px;
}
.cart__container-step div {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.cart__container-step--activeLeft {
  background-color: #a7b2b5;
  border-top-right-radius: 5px;
}
.cart__container-step--activeMiddle {
  background-color: #a7b2b5;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cart__container-step--activeRight {
  background-color: #a7b2b5;
  border-top-left-radius: 5px;
}

.trip-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  overflow: hidden;
}

.trip-details__image {
  max-width: 520px;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.trip-details__data {
  padding: 10px;
  margin-left: 30px;
}

.trip-details__data h3 {
  margin: 5px 0;
  font-size: 24px;
}

.trip-details__data p {
  margin: 2px 0;
  font-size: 18px;
}

.passengerDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.passengerDetails__notice {
  background-color: #f9f7f6;
  border-radius: 5px;
  margin-top: auto;
  text-align: center;
  margin-bottom: 1rem;
}
.passengerDetails form {
  padding: 10px;
}
.passengerDetails__names {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.passengerDetails__names label {
  margin-right: 10px;
}
.passengerDetails fieldset {
  display: flex;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.passengerDetails fieldset div {
  padding: 5px 0px;
}
.passengerDetails fieldset legend {
  margin-left: 10px;
}
.passengerDetails fieldset input {
  margin-right: 5px;
}
.passengerDetails__dob {
  display: flex;
}
.passengerDetails__dob label {
  margin-right: 10px;
}
.passengerDetails__dob input {
  text-align: center;
}
.passengerDetails__docType {
  margin-bottom: 10px;
}
.passengerDetails__docType label {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
